

<div ng-controller="shellcontroller as shell">

    <h2> {{ shell.title }} </h2>

    <hr />

    <pre> {{ shell.usercontext }} </pre>

    <hr />

    <a ng-click="shell.callSuccess()" class="btn btn-success">Success</a>

    <a ui-sref="mydata" class="btn btn-success">MyData</a>

    <a ng-click="shell.callPageNotFound()" class="btn btn-default">Route not found</a>
    <a ng-click="shell.callBadRequest()" class="btn btn-default">Bad Request</a>
    <a ng-click="shell.callServerException()" class="btn btn-danger">Unhandled Exception</a>
    <a ng-click="shell.callNotAuthorized()" class="btn btn-warning">Not authorized</a>

    <hr />

    <pre> {{ shell.result }} </pre>

</div>


