
@{
    ViewBag.Title = "Index";
}


<a href="@Url.Action("Index", "DataItem")" class="btn btn-default">Show Data</a>

<a href="@Url.Action("ActionDoesNotExist")" class="btn btn-default">Page not found</a>
<a href="@Url.Action("UnhandledException")" class="btn btn-danger">Unhandled Exception</a>

<a href="@Url.Action("Index", "Admin")" class="btn btn-warning">Not authorized</a>


