@model Example.Web.Models.ErrorViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <h1>NOT Authorized</h1>

        <b> @Model.ErrorText </b>
    
    </div>
</body>
</html>
