


<div class="container-fluid" style="border-color:gray;border-style: solid;">
    <h1>My Data</h1>
</div>

<div class="container-fluid" style="border-color:gray;border-style: solid; margin-top:5px">
    <div ui-view></div>
</div>