
<div class="modal-header dialog-header-notify">
    <button class="close" type="button" ng-click="errorController.cancel()"> x </button>
    <h4 class="modal-title text-info"><i class="fa fa-exclamation-circle"></i> Bad Request / Not found </h4>
</div>

<div class="modal-body">
    <h5>{{ errorController.ErrorMessage }}</h5>

    <ul>
        <li ng-repeat="validationerror in errorController.ValidationErrors">
            {{ validationerror }}
        </li>
    </ul>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="errorController.cancel()">close</button>
</div>

